.modalContainer {
    display: flex;
    gap: 2rem;
    font-family: 'TT Travels Trl', sans-serif;
}

.modalImage {
    width: 15rem;
}

.modalTitle {
    font-size: 20px;
    line-height: 100%;
}

.modalButton {
    background-color: #773844;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 15px;
    margin-top: 1rem;
    font-family: 'TT Travels Trl', sans-serif;
    border-radius: 12px;
    border: none;
}

.modalButton:active {
    background-color: #fff;
    color: #773844;
}

.modalBtn {
    background-color: #773844;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 15px;
    margin-top: 1rem;
    font-family: 'TT Travels Trl', sans-serif;
    border-radius: 12px;
    border: none;
}

.modalText {
    font-size: 12px;
    font-weight: 400;
    color: #646562;
    line-height: 100%;
}