.container {
    font-family: 'TT Travels Trl', sans-serif;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    margin-top: 5rem;
}

.formsTitle {
    font-size: 56px;
    font-weight: 700;
}

.formsCard{
    display: flex;
}

.casdTitle {
    font-size: 36px;
    font-weight: 500;
}

.cardText {
    font-size: 20px;
    font-weight: 400;
}

.cardImage{
    width: 50%;
}

